<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
	<title>Hello World!</title>
	<link href="/css/styles.css" rel="stylesheet">
</head>

<body>
	<header class="l-header">
		<h1 class="p-header__logo">SpringSecurityPractice</h1>
		<form class="p-header__logout" th:action="@{/logout}" method="post">
			<input type="submit" value="Sign Out" />
		</form>
	</header>
	<div class="l-error">
		<h2>403 Access Denied</h2>
		<p>アクセス拒否</p>
		<a class="c-button__error" th:href="@{/hello}">Home</a>
	</div>

</body>

</html>