<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

  <head>
    <title>Spring Security edit</title>
  </head>

  <body>
 　　 <h1>Create</h1>
    <div th:if="${param.logout}">
      ログアウトしました
    </div>
      <form th:action="@{/edit}" method="post" th:object=${userForm}>
        <div><label> User Name : <input type="text" name="username" th:field="*{username}"/> </label></div>
        <div><label> Password: <input type="password" name="password" th:field="*{password}"/> </label></div>
        <div><label> Authority: <input type="text" name="authority" th:field="*{authority}"/> </label></div>
        <div><input type="submit" value="Create"/></div>
      </form>
      
      <a href="${/login}">ログイン画面に戻る</a>
  </body>



</html>