<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
	<title>Hello World!</title>
	<link href="/css/styles.css" rel="stylesheet">
</head>

<body>
	<h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1>

	<form th:action="@{/logout}" method="post">
		<input type="submit" value="Sign Out" />
	</form>

	<a sec:authorize="hasAuthority('ROLE_ADMIN')" th:href="@{/user}">ユーザー一覧ページへ</a>
	<a sec:authorize="hasAuthority('ROLE_ADMIN')" th:href="@{/admin}">管理者ページへ</a>
</body>

</html>

