<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
	<title>Hello World!</title>
	<link href="/css/styles.css" rel="stylesheet">
</head>

<body>
	<header class="l-header">
		<h1 class="p-header__logo">SpringSecurityPractice</h1>
		<form class="p-header__logout" th:action="@{/logout}" method="post">
			<input type="submit" value="Sign Out" />
		</form>
	</header>
	<div class="l-hello">
		<h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1>

		<a class="c-button__hello" sec:authorize="hasAuthority('ROLE_ADMIN')" th:href="@{/user}">ユーザー一覧ページへ</a>
		<p class="p-hello__description">ADMIN権限を持っているUSERのみ表示されます</p>
		<a class="c-button__hello" sec:authorize="hasAuthority('ROLE_ADMIN')" th:href="@{/admin}">管理者ページへ</a>
	</div>
	
	<a class="c-button__back" th:href="@{/}">Back to Top</a>
</body>

</html>