<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
	<title>Spring Scurity index</title>
	<link href="/css/styles.css" rel="stylesheet">
</head>

<body>
	<header class="l-header">
		<h1 class="p-header__logo">SpringSecurityPractice</h1>
		<form class="p-header__logout" th:action="@{/logout}" method="post">
			<input type="submit" value="Sign Out" />
		</form>
	</header>
	<div class="l-index">
		<h1>Welcome<br>[[${#httpServletRequest.remoteUser}]]！</h1>
		<p>ログイン後のTopページです</p>
		<a class="c-button__page" th:href="@{/hello}">to Hello</a>
	</div>
</body>

</html>

