<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
	<title>Spring Security edit</title>
	<link href="/css/styles.css" rel="stylesheet">
</head>

<body>
	<header class="l-header">
		<h1 class="p-header__logo">SpringSecurityPractice</h1>
		<p class="p-header__menu"><a th:href="@{/login}">Login</a></p>
	</header>
	<div class="l-login">
		<div class="p-login__box">
			<div class="p-login__box-left register">
				<p>Hello<br>Welcome</p>
			</div>
			<div class="p-login__box-right">
				<h2>CREATE</h2>
				<p class="p-login__message" th:if="${param.error}">
					* Wrong username or password
				</p>
				<p class="p-login__message" th:if="${param.logout}">
					* ログアウトしました
				</p>
				<form th:action="@{/register}" method="post" th:object=${userForm}>
					<div class="p-login__input">
						<label>User Name</label><input type="text" name="username" th:field="*{username}" />
						<span th:errors="*{username}"></span>
					</div>
					<div class="p-login__input">
						<label>Password</label><input type="password" name="password" th:field="*{password}" />
						<span th:errors="*{password}"></span>
					</div>
					<div class="p-login__input">
						<label>Authority</label><input type="text" name="roles" th:field="*{roles}" />
						<span th:errors="*{roles}"></span>
					</div>
					<div><input class="c-button__signin" type="submit" value="Create" /></div>
				</form>
				<a class="c-button__register" th:href="@{/login}">Have an account？</a>
			</div>
		</div>
	</div>
</body>

</html>